snippet fr
	from ${1:path} import ${2:module}
snippet ##
	#!/usr/bin/env python
	# coding=utf-8
snippet main
	#!/usr/bin/env python
	# coding=utf-8


	def main():
	    pass


	if __name__ == '__main__':
	    main()
